:root {
  --mainBlue: #eba930;
  --lightBlue: #529fcce7;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #d85050f1;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: #000 !important;
  color: var(--mainYellow) !important;
}

.marginBottom {
  margin-bottom: 0.2rem !important;
}

.text-title {
  font-family: "Abel", sans-serif;
  letter-spacing: 0.3rem;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.card {
  background-color: #000 !important;
}

@media (max-width: 770px) {
  nav > h2 {
    margin: 0 !important;
    font-size: 3rem !important;
  }
}
